<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <link rel="stylesheet" href=""> {% endcomment %}
    </head>
    <body>
        <h1>Bible Test ESV</h1>
        <div>
            <form action="/passages/" method="POST">
                {% csrf_token %}
                <label for="name_Bible">Bible</label>
                <select name="name_Bible" id="name_Bible" value ={{ name_Bible }}>
                    <option {% if name_Bible == "ENGESV" %}selected{% endif %} value="ENGESV">English Standard Version (ESV 2001)</option>
                    <option {% if name_Bible == "ENGNAS" %}selected{% endif %} value="ENGNAS">New American Standard Bible (NASB 1960)</option>
                    <option {% if name_Bible == "ENGKJV" %}selected{% endif %} value="ENGKJV">King James Version (KVJ)</option>
                    {% comment %} <option {% if name_Bible == "ENGNKJN_ET" %}selected{% endif %} value="ENGNKJN_ET">New King James Version (NKVJ 1982)</option> {% endcomment %}
                </select>
                <br>
                <br>
                <label for="book">Book Name</label>
                <input type="text" name="book" id="book" value={{ book }}>

                <label for="chapter">Chapter</label>
                <input type="text" name="chapter" id="chapter" value={{ chapter }}>

                <label for="start">Verse Start</label>
                <input type="text" name="start" id="start" value={{ start }}>

                <label for="end">Verse End</label>
                <input type="text" name="end" id="end" value={{ end }}>

                <input type="submit" value="Submit">
                
        </div>
        <div>

            <h3>Bible name: {{ name_Bible }}</h3>
            <h3>Book name: {{ newdata.0.book_name }}</h3>
            <h4>Chapter: {{ newdata.0.chapter }}</h4>
            <h4>Verse: {{ newdata.0.verse_start }} - {{ last_verse_number }}</h4>
            <p>Verse Text: {{ newdata.verse_text }}</p>
            {% if newdata %}
                <p>
                {% for item in newdata %}
                        
                    <strong>[{{ item.verse_start }}]</strong> {{ item.verse_text }}
                            
                        
                {% endfor %}
                </p>
                {% else %}
                <p>No questions availible</p>
                {% endif %}
        </div>

        {% comment %} <script src="" async defer></script> {% endcomment %}
    </body>
</html>