
.red {
  color: red;
}

.background_target {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 700px;
  
}


.background_target2 {
  background-color: rgb(220, 221, 228);
  background-image: url("/static/background3.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-blend-mode: lighten;
  background-position-y:center
}

.nav_bar_background {
  background-color: rgb(234, 245, 255) !important;
}